* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    justify-content: center;
    width: 100%;
}

header .navbar {
    padding-block: 1.1rem;
    margin-inline: auto;
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

header .navbar h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}

header .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2.2rem 3rem;
}

header .navbar li a {
    color: black;
    font-size: 1.1rem;
    font-weight: 350;
    text-decoration: none;
}

header .navbar li a:hover {
    font-weight: 500;
}

header .navbar .menu-toggle {
    position: relative;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .navbar .menu-toggle input {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2;
    opacity: 0;
    z-index: 9;
}

header .navbar .menu-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
}

main {
    width: 100%;
    margin-block: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

main .content-description {
    width: 80%;
    height: 500px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/asset/background.jpg);
    background-position: center;
    background-size: cover;
}

main .content-description h2 {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    text-shadow: #ffff 1px 0 10px;
}

main .content-description p {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 1vw;
    font-weight: 700;
    text-shadow: #ffff 1px 0 5px;
}

main .content-aboutme {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

main .content-aboutme .headline h2 {
    margin: 50px;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
}

main .content-aboutme aside {
    display: flex;
    flex-direction: column;
}

main .content-biodata {
    width: 100%;
}

aside .introduce-aboutme {
    width: 70%;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: flex-end;
}

aside .introduce-aboutme h3 {
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}

aside .content-card {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;
    margin-inline: auto;
    gap: 1.2rem;
}

aside .content-card img {
    margin-inline: auto;
    width: 200px;
    border-radius: 50%;
}

aside .content-card .content h3 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

aside .content-card .content p {
    font-weight: 300;
}

aside .content-card .content.name {
    padding: 5px;
}

aside .content-card .content.address {
    padding: 5px;
    background-color: #EEEEEE;
}

aside .content-card .content.phone {
    padding: 5px;
}

aside .content-card .content.email {
    padding: 5px;
    background-color: #EEEEEE;
}

main .content-skills {
    width: 80%;
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

main .content-skills .headline h2 {
    margin: 50px;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
}

main .container-skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .container-skills img {
    width: 50px;
}

main .container-skills .skill {
    width: 200px;
    margin-block: .5rem;
    margin-inline: auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .container-skills .skill h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

footer .social-link {
    width: 100%;
    height: 200px;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer .social-link ul {
    width: 80%;
    padding-block: 1rem;
    margin-inline: auto;
    list-style-type: none;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .copyright {
    width: 80%;
    margin-inline: auto;
    padding-block: 1rem;
}


footer .social-link img {
    width: 40px;
    border-radius: 50%;
}

@media (max-width: 576px) {
    header .navbar {
        padding-inline: 1rem;
        justify-content: space-between;
        z-index: 1;
    }

    header .navbar ul {
        position: absolute;
        width: 100%;
        height: 80vh;
        top: 0;
        right: 0;
        z-index: 0;
        background-color: #0000007f;
        transform: translateY(-100%);
        transition: all 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
    }

    header .navbar ul a {
        color: #ffff;
        text-shadow: #ffff 1px 0 10px;
    }

    header .navbar ul.slide {
        transform: translateY(0);
    }

    main .content-description h2 {
        font-size: 2.2em;
        text-align: center;
    }

    main .content-description p {
        font-size: .5em;
        text-align: center;
    }

    aside .content-card {
        width: 100%;
    }
}